<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nodejs Beginner</title>
  <style>
    body { font-family: verdana; color: #fff, padding: 30px };
    h1 { font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center; }
    p { font-size: 16px; text-align: center; }
  </style>
</head>
<body>
  <% include nav.ejs %>
  <h1>
    Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine.
    Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient.
    Node.js' package ecosystem, npm, is the largest ecosystem of open source libraries in the world.
  </h1>
  <p>Download for Windows (x64)</p>
</body>
</html>
